[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MICSQTL"]
	path = MICSQTL
	url = https://github.com/yuepan027/micsqtl
[submodule "scpoisson"]
	path = scpoisson
	url = https://github.com/cran/scpoisson
